<div class="container-fluid">
    <button (click)="closeDialog()" class="close bg-danger  btn" >&times;</button>
    <div class="card "  style="background: transparent; border: none;">
        <div class="text-center text-white ">
          <img  class="rounded-circle bg-dark "  height = "100" width = "100" 
        src="../../../assets/image/rajesh.jpg" >
       
        <h2><b class="text-warning">Rank:  </b><b>10000</b></h2>
        <hr class="bg-primary mb-1 d-inline-block mx-auto" style="width: 190px; height: 1px;">
      
        </div>
      </div>
      <div class="card" id="leaderboardContainer">
        <mat-dialog-content class="mat-typography">
          <div class="card bg-secondary " style="cursor: pointer;">
            <div class="card-header">
              <div class="media ">
               <img src="../../../assets/image/rajesh.jpg" alt="John Doe" class="rounded-circle " style="width:60px;">
                 <div class="media-body mt-3">
                  <h3 class="text-center  "><b>Player Name</b> </h3>   
                  </div>
                  <div class="media-body mt-3">
                      
                    <h4 class=" text-center text-warning"><b>Rank : 12</b></h4>   
                  </div>
                </div>
               </div>
             </div>
             




        </mat-dialog-content>
        
           
      </div>
</div>
