<div class="text-white text-center">
    <button (click)="closeDialog()" class="close bg-danger  btn" >&times;</button>
    <h1>Played Game List</h1>
    <hr class="bg-primary mb-1 d-inline-block mx-auto" style="width: 190px; height: 2px;">
</div>
<div class="card-columns">
    <div class="card-group" style="cursor: pointer;">
        <div class="card text-white" style="background : transparent; border: none;">
                 <img src="../../../assets/image/poster.jpg" width="170" height="200" alt="">
         </div>
            <div class="card text-white" style="background : transparent; border: none;">
                <ul style="list-style:none;">
                    <li>  <h4><small><b class="text-warning">Last Played :  </b><b>2 hours</b></small></h4> </li>
                    <li>  <h4><small><b class="text-warning"> High Score : </b><b>10000</b></small></h4> </li>
                    <li>  <h4><small><b class="text-warning">Last Score : </b><b>10000</b></small></h4> </li>
                </ul>
                <div  class="btn btn-outline-info ml-3"><b> <i class="fa fa-play"></i> Play</b></div>
            </div>
     </div>

     <div class="card-group" style="cursor: pointer;">
        <div class="card text-white" style="background : transparent; border: none;">
                 <img src="../../../assets/image/poster.jpg" width="170" height="200" alt="">
         </div>
            <div class="card text-white" style="background : transparent; border: none;">
                <ul style="list-style:none;">
                    <li>  <h4><small><b class="text-warning">Last Played :  </b><b>2 hours</b></small></h4> </li>
                    <li>  <h4><small><b class="text-warning"> High Score : </b><b>10000</b></small></h4> </li>
                    <li>  <h4><small><b class="text-warning">Last Score : </b><b>10000</b></small></h4> </li>
                </ul>
                <div  class="btn btn-outline-info ml-3"><b> <i class="fa fa-play"></i> Play</b></div>
            </div>
     </div>

     <div class="card-group" style="cursor: pointer;">
        <div class="card text-white" style="background : transparent; border: none;">
                 <img src="../../../assets/image/poster.jpg" width="170" height="200" alt="">
         </div>
            <div class="card text-white" style="background : transparent; border: none;">
                <ul style="list-style:none;">
                    <li>  <h4><small><b class="text-warning">Last Played :  </b><b>2 hours</b></small></h4> </li>
                    <li>  <h4><small><b class="text-warning"> High Score : </b><b>10000</b></small></h4> </li>
                    <li>  <h4><small><b class="text-warning">Last Score : </b><b>10000</b></small></h4> </li>
                </ul>
                <div  class="btn btn-outline-info ml-3"><b> <i class="fa fa-play"></i> Play</b></div>
            </div>
     </div>

     <div class="card-group" style="cursor: pointer;">
        <div class="card text-white" style="background : transparent; border: none;">
                 <img src="../../../assets/image/poster.jpg" width="170" height="200" alt="">
         </div>
            <div class="card text-white" style="background : transparent; border: none;">
                <ul style="list-style:none;">
                    <li>  <h4><small><b class="text-warning">Last Played :  </b><b>2 hours</b></small></h4> </li>
                    <li>  <h4><small><b class="text-warning"> High Score : </b><b>10000</b></small></h4> </li>
                    <li>  <h4><small><b class="text-warning">Last Score : </b><b>10000</b></small></h4> </li>
                </ul>
                <div  class="btn btn-outline-info ml-3"><b> <i class="fa fa-play"></i> Play</b></div>
            </div>
     </div>

     <div class="card-group" style="cursor: pointer;">
        <div class="card text-white" style="background : transparent; border: none;">
                 <img src="../../../assets/image/poster.jpg" width="170" height="200" alt="">
         </div>
            <div class="card text-white" style="background : transparent; border: none;">
                <ul style="list-style:none;">
                    <li>  <h4><small><b class="text-warning">Last Played :  </b><b>2 hours</b></small></h4> </li>
                    <li>  <h4><small><b class="text-warning"> High Score : </b><b>10000</b></small></h4> </li>
                    <li>  <h4><small><b class="text-warning">Last Score : </b><b>10000</b></small></h4> </li>
                </ul>
                <div  class="btn btn-outline-info ml-3"><b> <i class="fa fa-play"></i> Play</b></div>
            </div>
     </div>

     <div class="card-group" style="cursor: pointer;">
        <div class="card text-white" style="background : transparent; border: none;">
                 <img src="../../../assets/image/poster.jpg" width="170" height="200" alt="">
         </div>
            <div class="card text-white" style="background : transparent; border: none;">
                <ul style="list-style:none;">
                    <li>  <h4><small><b class="text-warning">Last Played :  </b><b>2 hours</b></small></h4> </li>
                    <li>  <h4><small><b class="text-warning"> High Score : </b><b>10000</b></small></h4> </li>
                    <li>  <h4><small><b class="text-warning">Last Score : </b><b>10000</b></small></h4> </li>
                </ul>
                <div  class="btn btn-outline-info ml-3"><b> <i class="fa fa-play"></i> Play</b></div>
            </div>
     </div>
     
</div>



